<mat-toolbar>
    <span>Completed Rankings</span>
</mat-toolbar>
<div>
    <mat-grid-list cols="4" rowHeight="3:2">
      <mat-grid-tile *ngFor="let ranking of fRankings; let i = index">
        <div *ngIf="ranking">
        <mat-card matBadge="{{ranking.submissions}}" matBadgePosition="after" matBadgeColor="accent">
          <mat-card-title >
              {{ranking.title}}
          </mat-card-title>
          <mat-card-subtitle>
              {{ranking.prompt}}
              {{ranking.id}}
          </mat-card-subtitle>
          <mat-card-content>
            
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="accent" (click)="navToRanking(completedRankings[i].data.rankingId)">View <mat-icon>launch</mat-icon></button>
            <button mat-raised-button>Share <mat-icon>share</mat-icon></button>
            
          </mat-card-actions>
          <mat-card-footer >
            Submitted at {{completedRankings[i].data.timeSubmitted}}
          </mat-card-footer>
        </mat-card>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
