<div class="main-div">
    <mat-card style="min-width: 150px; max-width: 90%; width: 670px; margin-left: 10px; margin-top: 10px; height: auto;">
        <mat-card-header>
            <mat-card-title>Create a new ranking</mat-card-title>
        </mat-card-header>
  <form name="createForm" #createForm="ngForm" style="min-width: 150px; max-width: 650px; width: 100%;" (ngSubmit)="createSubmit(createForm)">
    <mat-form-field appearance="fill" style="width: 100%">
        <mat-label>Title</mat-label>
      <input minlength="5" required name="title" ngModel #title="ngModel" matInput placeholder="Ex. Ranking the best fruit in the world"/>
      <mat-hint style="color: #ff0000;" *ngIf="invalidTitle" color="warn">Must provide a suitable title.</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Prompt</mat-label>
      <input minlength="5" required name="prompt" ngModel #prompt="ngModel" matInput placeholder="Ex. Please rank your top 10 fruits"/>
      <mat-hint style="color: #ff0000;" *ngIf="invalidPrompt" color="warn">Must provide a suitable prompt.</mat-hint>
    </mat-form-field>
    <mat-form-field style="width: 100%;" appearance="fill">
        <mat-label>Available Choices</mat-label>
        <mat-chip-list #chipList aria-label="Choice selection">
            <mat-chip *ngFor="let choice of choices" (removed)="remove(choice)">
                {{choice.value}}
                <button matChipRemove>
                    <mat-icon>cancel</mat-icon>
                </button>
            </mat-chip>
            <input placeholder="New choice..."
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
           [matChipInputAddOnBlur]="addOnBlur"
           (matChipInputTokenEnd)="add($event)"
           required>
        </mat-chip-list>
        <mat-hint>Enter or comma to submit choice</mat-hint>
        <mat-hint style="color: #ff0000; margin-left: 5px;" *ngIf="invalidChoices" color="warn">Must have at least 2 choices.</mat-hint>
    </mat-form-field>
    
      <mat-slider ngModel #rankLimit="ngModel" name="rankLimit" thumbLabel [displayWith]="formatLabel" 
      tickInterval="1"
      step="1"
      min="2"
      max="{{sliderLength}}"
      aria-label="units"
      ></mat-slider>
      <mat-hint>Set the max ranking. For example, set 10 if you want 1-10 rankings</mat-hint>
      <br>
      <mat-slide-toggle ngModel #private="ngModel" name="private">Private Results</mat-slide-toggle>
      <br>
      <mat-hint>Toggle this on if you wish the ranking results to only be visible to you</mat-hint>
      <br>
    <button mat-raised-button color="primary" type="submit" style="margin-bottom: 5px; margin-top: 10px;">Create Ranking</button>
  </form>
</mat-card>
</div>
