<div class="main-div">
<mat-card>
    <mat-card-title>AltoRank</mat-card-title>
    <mat-card-subtitle>Create custom ranking pools and get results</mat-card-subtitle>
    <mat-card-content>Testing content</mat-card-content>
</mat-card>
<button mat-raised-button color="primary" (click)="getData()">Get Data</button>
<form #loginForm="ngForm" (ngSubmit)="handleLogin(loginForm.value)">
<input ngModel #email="ngModel" placeholder="email" name="email" id="email" type="email" />
<input ngModel #password="ngModel" placeholder="password" name="password" id="password" type="password" />
<button>Sign In</button>
<button>Sign Up</button>
</form>
<form #dataForm="ngForm" (ngSubmit)="addData(dataForm.value)">
    <input ngModel #data="ngModel" placeholder="data" name="data" id="data" type="text" />
    <button>Sign Up</button>
    </form>

    
</div>