<mat-toolbar color="accent">
  <span style="margin: auto">{{ranking.title}}</span>
</mat-toolbar>
<mat-toolbar>
  <span>{{ranking.prompt}}</span>
</mat-toolbar>
  <div style="margin-left: 15px; margin-top: 10px;">
    <h4>You can drag and drop or use the add button</h4>
  </div>
  <div cdkDropListGroup style="margin: 15px">
    <div class="example-container">
      <h2>Available Options</h2>
      
      <div
        cdkDropList
        [cdkDropListData]="ranking.choices"
        
        class="example-list"
        cdkDropListSortingDisabled
        disabled="true"
        (cdkDropListDropped)="drop($event)">
        <div [cdkDragDisabled]="checkLimit()" class="example-box" *ngFor="let choice of ranking.choices; let i = index" cdkDrag>{{choice.choice.value}} <button mat-raised-button color="primary" (click)="moveChoice(choice, i)"><mat-icon class="icon-colour">add</mat-icon></button></div>
      </div>
    </div>
  
    <div class="example-container">
      <h2>Your Rankings (1 - {{ranking.rankLimit}})</h2>
  
      <div
        cdkDropList
        [cdkDropListData]="results"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of results; let i = index" cdkDrag>
          <b *ngIf="i == 0" matBadgeColor="accent" style="margin-left: 10px" matBadge="{{i + 1}}"></b>
          <b *ngIf="i == 1" matBadgeColor="accent" class="second-custom-badge-accent" style="margin-left: 10px" matBadge="{{i + 1}}"></b>
          <b *ngIf="i == 2" matBadgeColor="accent" class="third-custom-badge-accent" style="margin-left: 10px" matBadge="{{i + 1}}"></b>
          <b *ngIf="i > 2"  style="margin-left: 10px" matBadge="{{i + 1}}"></b>
          
          
          {{item.choice.value}}
        
        </div>
      </div>
    </div>
    <div class="example-container">
      <button (click)="submitRankings()" mat-raised-button style="font-size: larger; float: right; align-self: center;" color="warn">Submit</button>
    </div>
  </div>